<!DOCTYPE html>
<html>
<head>
	<title>Pickup Sports Events</title>
<script>
  $(function () {
    $("#datetimepicker1").datetimepicker({
      format: 'YYYY/MM/DD HH:mm',
    });
  });
</script>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>

<body>
	<nav>
		<h1>Welcome Page</h1>
		{% if user.is_autheticated %}
			<a href="{% url 'logout' %}">LogOut</a>
		{% else %}
			<a href="{% url 'login' %}">Login</a>/ <a href="{% url 'signup' %}">SignUp</a>
		{% endif %}
		
	</nav>

	{% block content %}

	{% endblock %}

	</body>

</html>