{% extends 'base.html' %}

{% block content %}
<h2>Welcome, {{ user.get_full_name }} <small>{{ user.username }}</small>!</h2>
  <p>Your email address: {{ user.email }}</p>
  <a href="{% url 'logout' %}">LogOut</a>
  <a href="{% url 'venue-create' %}">Add a venue</a>
  <a href="{% url 'event-create' %}">Create an event</a> 
  <a href="{% url 'event-cat' %}">Create an event category</a> 
  <a href="{% url 'sports-create' %}">Create a sport</a> 
  <a href="{% url 'find-slot' %}">Find a slot</a> 
  {% if messages %}
<ul class="messages" style="color: red">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

{% endblock %}
