{% extends 'base.html' %}

{% block content %}

<h1>ABOUT PSEVENTS</h1>
    <p>“Pickup sports” is a web and android application to provide a user-friendly experience to sports lovers. The idea behind creating this application is to help people join different sports events, meet new players and learn new techniques without any hustle.</p>

      <h2>App designers and developers:</h2>

      <h3>Ritika Munjal:</h3> <p>She is a MSITM graduate student at McCombs school of business, UT Austin. “Pickup sports” is her final project for “Advanced Programming and Application Development” course in MSITM.</p>
      <h3>Prajval Gupta:</h3> <p>He is a MSITM graduate student at McCombs school of business, UT Austin. “Pickup sports” is his final project for “Advanced Programming and Application Development” course in MSITM.</p>

<div class="container mt-4">
<div class="text-center darken-grey-text mb-4">
                      </div>
            <nav class="navbar navbar-expand-lg navbar-dark teal mb-4">

            	 <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                    	<li class="nav-item">
						  <a class="nav-link" href="/media/narrative_Pickup_sports_webapp.html">View Narrative</a>
						</li>

						<li class="nav-item">
						  <a class="nav-link" href="/media/how_to_web_app.html">Guide to Web Application</a>
						</li>

						<li class="nav-item">
						  <a class="nav-link" href="/media/androidapp/how_to_android_app.html">Guide to Mobile Application</a>
						</li>

                    </ul>
                </div>
            </nav>
        </div>
        



{% endblock %}

